#main-brand {
	margin-left: 35px;
	transition: all 200ms ease-out;
}

#main-brand:hover {
	text-shadow: 0 0px 5px var(--accent-light);
	transition: all 200ms ease-out;
}

.logo {
	width: 30px;
	margin-right: .5vw;
	position: absolute;
	left: 10px;
	transition: all 200ms ease-out;
}

.logo:hover, #main-brand:hover .logo {
	box-shadow: 0px 0px 3px 1px var(--accent-light);
	transition: all 200ms ease-out;
}

.my-nav {
	background-color: var(--accent) !important;
}